<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" />
  
    <!-- Leaflet.markercluster CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />
  
    <!-- Your CSS -->
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>

    <h2>Electric Vehicle Dashboard for Prospective Buyers</h2>
    <p>Click on the buttons to view the data:</p>

    <div class="tab">
      <button class="tablinks" onclick="goToPage('/charge_stations')">Charge Station Map</button>
      <button class="tablinks" onclick="goToPage('/current_ev_prices')">Current EV Prices</button>
      <button class="tablinks" onclick="goToPage('/avg_price_ev_new')">EV/Overall Market</button>
      <button class="tablinks" onclick="goToPage('/avg_gas_electric_prices')">Electric/Gas Costs</button>
      <button class="tablinks" onclick="goToPage('/vehicle_policy_col')">Vehicle Policies</button>
      <button class="tablinks" onclick="goToPage('/types_of_evs')">Cars by Brand</button>
      <button class="tablinks" onclick="goToPage('/')">Home</button>

    </div>

    <div class="float-container">
      <h3>Question:  Does it make sense to buy an electric car right now in the United States?</h3>
      <p>
      Prospective buyers of vehicles in the US should use this website.  The data includes 
      information about the types of electric/hybrid vehicles being made by brand and 
      prices of these vehicles, including tax credits.  A comparison of gas prices versus 
      electricity prices to power these vehicles throughout the years is included.  You will 
      see how many of these vehicles are on the road and how that compares to the total 
      number of vehicles by state.  Finally, included is a map of all the charging stations 
      across the United States to show the accessibility across different parts of the 
      country allowing you to zero in on your specific region.
      </p>

      <h3>Conclusion:  YES!</h3>
      <p>
      Based on the availability of electric/hybrid vehicles and charging 
      stations, the price of powering these vehicles, and the current and projected 
      popularity of these vehicles, it is evident that right now is a great time to buy an 
      electric/hybrid vehicle.
      </p>

      <p>Why?
      <ul>  
      <li>Many models to choose from</li>
      <li>Significantly lower cost to power over gas-powered cars</li>
      <li>Very accessible charging stations (especially on the coasts)</li>
      <li>More people are buying these cars, forcing the infrastructure to adjust to this growth</li>
      </ul>
      </p>
    </div>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>

  <!-- Leaflet.markercluster JavaScript code -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js"></script>

  <!-- Leaflet Heat plugin -->
  <script src="https://cdn.jsdelivr.net/gh/Leaflet/Leaflet.heat/dist/leaflet-heat.js"></script>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script>
    function goToPage(pageURL) {
      window.location.href = pageURL;
    }
  </script>
</body>

</html>
