<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>

<h2>Electric/Hybrid Vehicle Dashboard for Prospective Buyers</h2>
<p>Click on the buttons to view the data:</p>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Cars by Brand')">Cars by Brand</button>
  <button class="tablinks" onclick="openCity(event, 'Marker Map')">Marker Map</button>
  <button class="tablinks" onclick="openCity(event, 'Number of Vehicles')">Number of Vehicles</button>
  <button class="tablinks" onclick="openCity(event, 'Price')">Price</button>
</div>

<div id="Cars by Brand" class="tabcontent">
  <h3>Cars by Brand</h3>
  <p>This data shows how many types of electric/hybrid cars were being sold by brand by year.</p>
</div>

<div id="Marker Map" class="tabcontent">
  <h3>Marker Map</h3>
  <p>This map shows all the charging stations in the US.</p> 
</div>

<div id="Number of Vehicles" class="tabcontent">
  <h3>Number of Vehicles</h3>
  <p>This data shows how many electric/hybrid vehicles are on the road, and also how may impact the number of vehicles.</p>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Year:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">National Summary</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>

</div>

<div id="Price" class="tabcontent">
    <h3>Price</h3>
    <p>This data shows the cost of electric/hybrid vehicles.</p>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/logic.js"></script>

</body>

</html>

